/*  ---------------------- text-color-landing  --------------------------- */
.navbar-color {
  background-color: #f08080;
}

.text-color-nav {
  color: #000000;
}

.text-color-nav:hover {
  color: #4b0082;
}

/* ---------------------- Landing ----------------------------------------*/

.text-color-landing {
  color: #00008b;
}

/* ---------------below is for chat --------------------------- */
.messageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.containerr {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 360px;
  margin-left: 360px;
}

.justifyEnd {
  justify-content: flex-end;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.messageBox2 {
  display: inline-block;
  max-width: 80%;
}

.backgroundBlue {
  background: #2979ff;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.colorWhite {
  color: white;
}

.justifyStart {
  justify-content: flex-start;
}

.backgroundLight {
  background: #f3f3f3;
}

.navbarul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarli {
  padding: 8px 12px;
}

.navbarli:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.containheight {
  max-height: 500px;
  margin-top: 50px;
}

.sidenav {
  width: 146px;
  position: fixed;
  z-index: 1;
  height: 65%;
  background-color: wheat;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 50px;
}

.infobar {
  width: 100%;
  background-color: mediumpurple;
  padding: 15px;
}

.mainbar {
  background-color: mediumturquoise;
  margin-left: 146px;
  height: 505px;
  width: 970px;
  overflow-y: scroll;
}

.inputtextbox {
  height: 64px;
}
.footer {
  margin-left: 140px;
}

.leaveroom {
  float: right !important;
}
/*  ----------------------------------------------------*/

@media (max-width: 1024px) {
  .containerr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sidenav {
    width: 146px;
    position: fixed;
    height: 38.2%;
    background-color: wheat;
    overflow-x: hidden;
  }

  .mainbar {
    background-color: mediumturquoise;
    height: 480px;
    width: 85.5%;
    overflow-y: scroll;
    margin-left: 144px;
  }
}

/* ---------------------- */

/*  ----------------------------------------------------*/

@media (max-width: 768px) {
  .containerr {
    width: 99.9%;
    margin-left: 0;
    margin-right: 0;
  }

  .sidenav {
    width: 146px;
    position: fixed;
    height: 50.9%;
    background-color: wheat;
    overflow-x: hidden;
  }

  .mainbar {
    background-color: mediumturquoise;
    height: 480px;
    width: 596px;
    overflow-y: scroll;
    margin-left: 144px;
  }
}

/* ---------------------- */
/*  ----------------------------------------------------*/

@media (max-width: 600px) {
  .sidenav {
    width: 146px;
    position: fixed;
    height: 43.2%;
    background-color: wheat;
    overflow-x: hidden;
  }

  .mainbar {
    background-color: mediumturquoise;
    height: 480px;
    width: 596px;
    overflow-y: scroll;
  }

  .infobar {
    width: 130%;
    background-color: mediumpurple;
    padding: 15px;
  }

  .footer {
    margin-left: 140px;
    width: 104.3%;
  }
}

/*  ----------------------------------------------------*/

@media (max-width: 480px) {
  .containerr {
    width: 100%;
    margin: 0px;
  }

  .sidenav {
    display: none;
    margin: 0px;
  }

  .mainbar {
    background-color: mediumturquoise;
    overflow-y: scroll;
    margin: 0px;
    width: 100%;
  }

  .infobar {
    width: 100%;
    background-color: mediumpurple;
    margin: 0px;
  }

  .footer {
    width: 100%;
    margin: 0px;
  }
}

/*  ----------------------------------------------------*/

@media (max-width: 375px) {
  .containerr {
    width: 100%;
    margin: 0px;
  }

  .sidenav {
    display: none;
    margin: 0px;
  }

  .mainbar {
    background-color: mediumturquoise;
    overflow-y: scroll;
    margin: 0px;
    width: 100%;
  }

  .infobar {
    width: 100%;
    background-color: mediumpurple;
    margin: 0px;
  }

  .footer {
    width: 100%;
    margin: 0px;
  }
}
