/*  ---------------------- text-color-landing  --------------------------- */

.scrollingYAxis {
  background-color: mediumturquoise;
}

.navbar-color {
  background-color: #f08080;
}

.text-color-nav {
  color: #000000;
}

.text-color-nav:hover {
  color: #4b0082;
}

.widthname {
  width: 140px;
}

.labelcolor {
  background-color: lightblue;
  color: blue;
}

.fontregister {
  font-size: 15px;
}

.widthgender {
  width: 120px;
}

/* ------------------------------chat landing page --------------------*/

.card-color {
  background-color: whitesmoke;
}

.chat-link {
  color: darkgreen;
}

.chat-link:hover {
  color: darkorchid;
  text-decoration: none;
}

.formcontrol {
  background-color: pink;
}

.chat-heading {
  color: red;
}

.chat-top {
  margin-top: 100px;
}

/* ---------------------- Landing ----------------------------------------*/

.text-color-landing {
  color: #00008b;
}

/* ---------------below is for chat --------------------------- */
.messageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.justifyEnd {
  justify-content: flex-end;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.messageBox2 {
  display: inline-block;
  max-width: 80%;
}

.backgroundBlue {
  background: #2979ff;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.colorWhite {
  color: white;
}

.justifyStart {
  justify-content: flex-start;
}

.backgroundLight {
  background: #f3f3f3;
}

.btn-send {
  background-color: blueviolet;
  color: white;
}

.btn-disconnect {
  color: white !important;
  background-color: rgb(32, 25, 25);
}

.btn-hover:hover {
  color: violet;
}

.wrapperRandom1 {
  display: grid;
  background-color: mediumpurple;
  margin-top: 50px;
}

.wrapperRandom2,
.wrapperPrivate {
  display: grid;
  background-color: mediumturquoise;
  height: 410px;
}

.wrapperPrivate1 {
  display: grid;
  height: 70px;
  background-color: mediumpurple;
  margin-top: 50px;
  align-items: center;
}

.socketPractice {
  background-image: url("./images/particleBackground.jpg");
  background-repeat: "no-repeat";
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
}

.disabled {
  font-size: 16px;
  padding-bottom: 4px;
  margin-right: 10px;
}

.loading {
  float: right;
}
.waiting {
  float: right;
}

.online-users {
  font-size: 16px;
  float: left;
}

/* --------------------- below is for room chat */

.wrapperRoom1 {
  display: grid;
  background-color: mediumpurple;
  height: 50px;
  align-items: center;
  margin-top: 55px;
}

.leaveroom {
  float: right !important;
}
.leaveroom:hover {
  color: darkorange;
}

.wrapperRoom2 {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 420px;
}

.boxroomsidebar {
  background-color: wheat;
}

.boxroommainbar {
  background-color: mediumturquoise;
  height: 420px;
}

.wrapperRoom3 {
  display: grid;
}

.btn-room {
  color: white;
  background-color: black;
}

.btn-room:hover {
  color: lightseagreen;
}

/* --------------------- below for random chat*/

.closeWindow {
  text-align: right;
  margin-right: 3px;
}
.closeWindowColor {
  color: black;
}

@media only screen and (max-width: 400px) {
  .wrapperRandom1 {
    display: grid;
    background-color: mediumpurple;
    margin-top: 30px;
  }
  .online-users {
    font-size: 16px;
    text-align: center;
  }
  .disabled {
    font-size: 16px;
    padding-bottom: 4px;
    text-align: center;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .wrapperRandom1 {
    display: grid;
    background-color: mediumpurple;
    margin-top: 10px;
  }

  .online-users {
    font-size: 16px;
    text-align: center;
  }
  .disabled {
    font-size: 16px;
    padding-bottom: 4px;
    text-align: center;
    margin-right: 40px;
  }
  .wrapperRandom2,
  .wrapperPrivate {
    display: grid;
    background-color: mediumturquoise;
    height: 375px;
  }
}

@media only screen and (max-width: 360px) {
  .wrapperRandom1 {
    display: grid;
    background-color: mediumpurple;
    margin-top: 8px;
    font-size: 15px;
  }
  .wrapperRandom2,
  .wrapperPrivate {
    display: grid;
    background-color: mediumturquoise;
    height: 335px;
  }
}
/* --------------------- below for room chat*/
@media only screen and (max-width: 600px) {
  .wrapperRoom2 {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapperRoom2 {
    display: grid;
    grid-template-columns: 26% 74%;
    height: 420px;
    font-size: 14px;
  }
  .boxroomsidebar {
    background-color: wheat;
  }
}

@media only screen and (max-width: 414px) {
  .wrapperRoom2 {
    display: grid;
    grid-template-columns: 27% 73%;
    height: 400px;
    font-size: 14px;
  }
  .boxroomsidebar {
    background-color: wheat;
  }
}

@media only screen and (max-width: 414px) {
  .wrapperRoom2 {
    display: grid;
    grid-template-columns: 27% 73%;
    height: 400px;
    font-size: 14px;
  }
  .boxroommainbar {
    background-color: mediumturquoise;
    height: 400px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 380px) {
  .wrapperRoom2 {
    display: grid;
    grid-template-columns: 29% 71%;
    height: 400px;
    font-size: 14px;
  }
  .wrapperRoom1 {
    display: grid;
    background-color: mediumpurple;
    height: 50px;
    align-items: center;
    margin-top: 20px;
  }
  .boxroommainbar {
    background-color: mediumturquoise;
    height: 399px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 380px) {
  .wrapperRoom1 {
    display: grid;
    background-color: mediumpurple;
    height: 50px;
    align-items: center;
    margin-top: 4px;
  }
}
